<div class="bg_color_card grid justify-center min-h-80 max-w-120  pl-5 pr-2 pb-10 pt-10  rounded-2xl">
    <app-title-cards-page-login-component titleCard="Crie sua Conta" descriptionCard="Crie sua conta e tenha acesso a informações e trailer de filmes"></app-title-cards-page-login-component>
   
    <app-input-login-component-ts></app-input-login-component-ts>
    <app-input-login-component-ts></app-input-login-component-ts>

    <div>
        <app-input-login-component-ts></app-input-login-component-ts>
        <p class="text-gray-500 ml-2">deve conter 8-16 digitos</p>
    </div>

    <app-input-login-component-ts></app-input-login-component-ts>

    <div class="mt-5 text-center grid gap-2">
        <app-button-login-submit-component></app-button-login-submit-component>
        <app-login-auth-link-component></app-login-auth-link-component>
    </div>

</div>