<div class="bg_color_card mx-auto flex flex-col justify-center min-h-80 max-w-md w-full pl-8 pr-8 pb-10 pt-10  rounded-2xl">
    <app-title-cards-page-login-component titleCard="nova senha"
        descriptionCard="Crie uma nova senha para sua conta"></app-title-cards-page-login-component>

    <div class="flex flex-col w-full gap-3 mt-3">
        @for(data of dataInputLogin; track $index){
            <app-input-login-component-ts [receiveDataInput]="data"></app-input-login-component-ts>
        }
    </div>


    <div class="mt-5 text-center flex flex-col gap-2 w-full">
        <app-button-login-submit-component
            titleButton="redefinir senha"></app-button-login-submit-component>
        <app-login-auth-link-component textButton="Voltar Login"
            questionText="Não que mais trocar?"></app-login-auth-link-component>
    </div>

</div>