<div class="bg_color_card grid  justify-center min-h-80 max-w-120 pl-8 pr-8 pb-10 pt-10  rounded-2xl">
    <app-title-cards-page-login-component titleCard="Recuperar Senha"
        descriptionCard="Digite seu e-mail e enviaremos um código de 6 dígitos para redefinir sua senha"></app-title-cards-page-login-component>


    <app-input-login-component-ts [receiveDataInput]="dataInputLogin"></app-input-login-component-ts>


    <div class="mt-5 text-center grid gap-2">
        <app-button-login-submit-component
            titleButton="Enviar código de recuperação"></app-button-login-submit-component>
        <app-login-auth-link-component 
            textButton="Login"
            questionText="Lembrou a senha?"></app-login-auth-link-component>
    </div>

</div>