<div class=" max-w-100 p-2">
    <p class="text-white mb-1">{{receiveDataInput.title}}</p>
    <div class="bg_color_input flex items-center gap-2 rounded-md p-1  border-2 border-black/0  focus-within:border-cyan-400/60 transition-all duration-100">
        <img class="w-8 ml-2" [src]="receiveDataInput.inconUrl" alt="">
        <input class="w-full h-10 outline-none mr-5 text-gray-200 " [type]="receiveDataInput.type" [placeholder]="receiveDataInput.placeholderText" name="" id="">
    </div>
</div>